<div ng-app="badReddit" ng-controller="mainCtrl">
	{{ test }}
	<div ng-repeat="post in posts | orderBy: '-upvotes'">
		{{ post.title }} - upvotes: {{ post.upvotes}}
	</div>

	<form ng-submit="addPost()">
		<input type="text" ng-model="title"></input>
		<button type="submit">New Post</button>
	</form>


</div>

<!-- modules -->
<script src="assets/javascripts/app.js" type="text/javascript"></script>
<!-- controllers -->
<script src="assets/javascripts/controller.js" type="text/javascript"></script>