<div ng-app="badReddit" ng-controller="mainCtrl">
	<div ng-repeat="post in posts | orderBy: '-upvotes'">
		<span ng-click="upvote(post)">^</span>
		<a ng-show="post.link" href="{{post.link}}">
			{{ post.title }} 
		</a>
		<span ng-hide="post.link">
			{{ post.title }}
		</span>
		- upvotes: {{ post.upvotes}}
	</div>

	<form ng-submit="addPost()">
		<input type="text" placeholder="Title" ng-model="title"></input>
		<br>
		<input type="text" placeholder="Link" ng-model="link">
		<br>
		<button type="submit">New Post</button>
	</form>


</div>

<!-- modules -->
<script src="assets/javascripts/app.js" type="text/javascript"></script>
<!-- controllers -->
<script src="assets/javascripts/controller.js" type="text/javascript"></script>