<div ng-app="badReddit" ng-controller="mainCtrl">
	{{ test }}
</div>

<!-- modules -->
<script src="app.js" type="text/javascript"></script>
<!-- controllers -->
<script src="controller.js" type="text/javascript"></script>